<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/script.js"></script>

</head>
<body ng-controller="PhoneListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>

      </div>
      <div class="span10">
        <!--Body content-->

        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
       
            {{phone.from_geo_location}}
            <p>{{phone.to_geo_location}}</p>
          </li>
        </ul>

      </div>
    </div>
     <form action="/ecp-gmap/EcpGMapInegrationServlet"   >
      <input type="text" ng-model="text" name="text" />
      <input type="button" id="submit" value="Submit" ng-click="click()"  />
      
     </form>
  </div>

</body>
</html>
